services:
  nginx_prod:
    build: .
    container_name: ${COMPOSE_PROJECT_NAME}_nginx_prod
    restart: unless-stopped
    ports:
      - "${PORT:-3001}:80"
    profiles:
      - prod
    depends_on:
      - server

  nginx_dev:
    build: ./nginx
    container_name: ${COMPOSE_PROJECT_NAME}_nginx_dev
    restart: unless-stopped
    ports:
      - "${PORT:-3001}:80"
    profiles:
      - dev
    depends_on:
      - webui
      - server

  webui:
    build: ./webui
    container_name: ${COMPOSE_PROJECT_NAME}_webui
    restart: unless-stopped
    ports:
      - "3000:3000"
    profiles:
      - dev

  server:
    build: ./server
    container_name: ${COMPOSE_PROJECT_NAME}_server
    restart: unless-stopped
    depends_on:
      - db_admin
      - db_users_postgres
      - db_users_mysql
    environment:
      - DB_HOST=db_admin
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_NAME=postgres
      - USER_DB_HOST_POSTGRES=db_users_postgres
      - USER_DB_PORT_POSTGRES=5432
      - USER_DB_HOST_MYSQL=db_users_mysql
      - USER_DB_PORT_MYSQL=3306
      - MAX_CONNECTION_HOURS=4
      - CLEANUP_INTERVAL_SECONDS=3600
      - MAX_CONTENT_LENGTH=20971520
    env_file:
      - server/.env

  db_admin:
    build: ./db_admin
    container_name: ${COMPOSE_PROJECT_NAME}_db_admin
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db_admin_pgdata:/var/lib/postgresql/data

  db_users_postgres:
    image: postgres:latest
    command: -c 'max_connections=500'
    container_name: ${COMPOSE_PROJECT_NAME}_db_users_postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - db_users_pgdata:/var/lib/postgresql/data

  db_users_mysql:
    image: mysql:latest
    container_name: ${COMPOSE_PROJECT_NAME}_db_users_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db_users_mysql_data:/var/lib/mysql

  docs_api:
    image: docker.swagger.io/swaggerapi/swagger-ui
    container_name: ${COMPOSE_PROJECT_NAME}_docs_api
    restart: unless-stopped
    environment:
      - SWAGGER_JSON=/docs/api.yaml
      - SUPPORTED_SUBMIT_METHODS=[]
    volumes:
      - ./docs/swaggerui:/docs
    profiles:
      - dev

volumes:
  db_admin_pgdata:
    name: ${COMPOSE_PROJECT_NAME}_db_admin_pgdata
  db_users_pgdata:
    name: ${COMPOSE_PROJECT_NAME}_db_users_pgdata
  db_users_mysql_data:
    name: ${COMPOSE_PROJECT_NAME}_db_users_mysql_data