dav_tools==0.4.16
sqlparse
Flask>=3.1.0
Flask_Cors>=5.0.0
flask_babel
pandas
sqlparse
requests
bcrypt
flask-jwt-extended
gunicorn
pyarrow
openai
pydantic
sql-error-categorizer>=0.1.7
sql-assignment-generator