---

---

<form action="" class="connection-form">
    <div class="input-group">
        <span class="input-group-text">LensQL Username</span>
        <input type="text" class="form-control" id="username" placeholder="sXXXXXXX" />
    </div>
    <div class="input-group">
        <span class="input-group-text">DB Host</span>
        <input type="text" class="form-control" id="dbhost" placeholder="localhost" value="localhost" />
    </div>
    <div class="input-group">
        <span class="input-group-text">DB Port</span>
        <input type="text" class="form-control" id="dbport" placeholder="5432" value="5432" />
    </div>
    <div class="input-group">
        <span class="input-group-text">DB Name</span>
        <input type="text" class="form-control" id="dbname" placeholder="postgres" value="postgres" />
    </div>
    <div class="input-group">
        <span class="input-group-text">DB Username</span>
        <input type="text" class="form-control" id="dbuser" placeholder="postgres" value="postgres" />
    </div>
    <div class="input-group">
        <span class="input-group-text">DB Password</span>
        <input type="password" class="form-control" id="dbpassword" placeholder="password" value="password" />
    </div>
</form>

<style>
    .input-group-text {
        min-width: 170px;
        justify-content: right;
    }

    .input-group .form-control,
    .input-group-text {
        border-radius: 0; /* Remove all border radii */
    }

    /* First input group – keep top border-radius */
    .input-group:first-of-type .form-control:first-child,
    .input-group:first-of-type .input-group-text:first-child {
        border-top-left-radius: 0.375rem;
    }
    .input-group:first-of-type .form-control:last-child,
    .input-group:first-of-type .input-group-text:last-child {
        border-top-right-radius: 0.375rem;
    }

    /* Last input group – keep bottom border-radius */
    .input-group:last-of-type .form-control:first-child,
    .input-group:last-of-type .input-group-text:first-child {
        border-bottom-left-radius: 0.375rem;
    }
    .input-group:last-of-type .form-control:last-child,
    .input-group:last-of-type .input-group-text:last-child {
        border-bottom-right-radius: 0.375rem;
    }
</style>
