---

---

<!-- <button class="btn btn-outline-primary" type="button" id="login">Login</button> -->


<script>
    $(login);
    
    function login() {
        let username = prompt('Insert username:');
        while (!username) {
            username = prompt('Insert username:');
        }

        let password = prompt('Insert password:');
        while (!password) {
            password = prompt('Insert password:');
        }

        $.ajax({
            type: 'POST',
            url: `${import.meta.env.BASE_URL}/api/login`,
            data: {
                'username': JSON.stringify(username),
                'password': JSON.stringify(password),
            },
            success: function(d) {
                let data = d;
                
                if (data.success) {
                    $('#login').hide();
        
                    $('#username').text(username);

                    $('#main').removeClass('disabled');
        
                    return;
                }

                alert(d.message);
                login();
            },
            error: function() {
                alert('Could not connect to server.')
                login();
            }
        });
    }
</script>