.login .img {
    border-radius: 1rem 0 0 1rem;
    background-image: url(../res/database.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    z-index: 100;
}

.login h5 {
    letter-spacing: 1px;
}

.login .logo {
    color: var(--logo-color);
}


.login .show-password {
    cursor: pointer;
}

.login .show-password i {
    width: 1.5rem;
}